<div class="topper">

</div>

<p sytle="padding:10px; margin:10px">
  Welcome to the HttpClient Application
</p>



<p>
  You are required to do the following tasks on your angular-http-crud1 application.<br>
  Convert the output to a 4 columns per row display<br>
  Add a page for the details of each item so that when a person clicks the Buy button they are redirected <br>to the details page. The details page should:
             1) Show the image,<br>

  The Description,<br>
   The Price<br>
             2) Quantity and a Order Now Button
             3) When the person clicks the Order Now Button, they should be taken to a page that say Order completed successfully<br>

  Modify the  About page to make it more aesthetic.<br>
  Add a page that includes information for AmberEateries (Use Amber's address and telephone numbers) also <br>
  display a map and a contact us form (without any functionality)<br>

  Modify the output to display navigation links for the Contact Us page<br>

</p>

